<div class="row">
    <h1>PROYECTOS REALIZADOS</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 parte1">
            <h1>Proyecto</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quae nulla perferendis, neque rem quaerat
                voluptatum ratione delectus. Eum est deleniti totam optio dolorem deserunt possimus assumenda
                repellendus laudantium nihil.</p>
        </div>
        <div class="col-sm-12 col-md-3 offset-md-1 parte2">
            <img src="./assets/Imagenes/iconos e imagenes/banner04.jpg" alt="imagen de prueba" class="img-fluid img-proyecto">
        </div>
    </div>

</div>
