
    <div class="row"> 
        <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <img src="./assets/Imagenes/iconos e imagenes/FotoPerfil.jpg" alt="foto perfil" class="img-fluid rounded-circle" id="foto_perfil">
        </div>
    <div class="col-12 col-sm-2">
        <p id="nombre">Baroni Oscar Adolfo</p>
        <p>Full Stack Develepor Jr</p>
    </div>
    <div class="col-12 col-sm-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio et earum unde consequatur, tenetur consequuntur ratione facere. Doloribus reiciendis numquam itaque qui assumenda consequuntur eum? Dolore sunt incidunt enim velit?</p>
        </span>
    </div>
    </div>
