<div class="row">
    <h1>EDUCACIÓN:</h1>
    <h1>Educación Secundaria</h1>
    <div class="col-11">
        <ul>
            <li>
                <h2>Titulo Secundario</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
        </ul>
    <h1>Educación Terciario</h1>
        <ul>
            <li>
                <h2>Titulo Terciario</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
        </ul>
    <h1>Educación Universitaria</h1>
        <ul>
            <li>
                <h2>Titulo Universitario</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
        </ul>
    <h1>Cursos y Capacitaciones</h1>
        <ul>
            <li>
                <h2>Curso 1</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 2</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 3</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 4</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 5</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 6</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 7</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 8</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 9</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
            <li>
                <h2>Curso 10</h2>
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum non debitis illum ipsam maiores quae et, nulla libero. Accusantium ea eaque accusamus doloribus distinctio, saepe magnam corrupti ad eligendi harum!</p>
            </li>
        </ul>




