<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/APLogo.png" alt="logo Argentina Programa" id="logoAP"></a>
        </div>
        <div class="redes">
                <a href="https://github.com/elbaro23" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/github.png" alt="Github"></a>
                <a href="https://www.facebook.com/baro.adventures/" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/oscar_baroni/" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/instagram.png" alt="Instagram"></a>
                <a href="https://twitter.com/elbaro23" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/twitter.png" alt="Twitter"></a>
                <a href="https://www.youtube.com/user/oscarbaroni" target="_blank"><img src="./assets/Imagenes/iconos e imagenes/Youtube.png" alt="Youtube"></a>
                <button type="button" class="btn btn-outline-light boton_ingreso">Ingreso</button>
        </div>
    </div>
</div>
 


