<div class="row">
    <h1>EXPERIENCIA LABORAL:</h1>
    <div class="col-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> -
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium cum aperiam sequi aliquam veritatis molestiae, illo asperiores aut recusandae ipsam similique quo unde culpa repellat tempore. Est ab facere maxime?</p>
            </li>
            <li>
                <h2>Trabajo 2</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores omnis suscipit recusandae laudantium itaque obcaecati provident ab iusto dolorem aut? Nemo fugit facere quasi sunt animi quos quam pariatur non.</p>
            </li>
            <li>
                <h2>Trabajo 3</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 4</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 5</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 6</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 7</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 8</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 9</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
            <li>
                <h2>Trabajo 10</h2> -
                <h3>(years)</h3>
            
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sapiente suscipit at, ab quis officia placeat nisi minus odit nihil porro explicabo iste molestias eius, perferendis aliquid aperiam praesentium illo?</p>
            </li>
        </ul>
    </div>
</div>