<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="col-sm-4">
    <circle-progress
        [percent]="70"
        [showUnits]="false"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004ca9'"
        [innerStrokeColor]="'#002a5e'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="col-sm-4">
        <circle-progress
            [percent]="50"
            [showUnits]="false"
            [radius]="100"
            [title]="'CSS'"
            [titleColor]="'red'"
            [titleFontSize]="'30px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#004ca9'"
            [innerStrokeColor]="'#002a5e'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4">
    <circle-progress
        [percent]="25"
        [showUnits]="false"
        [radius]="100"
        [title]="'JavaScript'"
        [titleColor]="'red'"
        [titleFontSize]="'30px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="20"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#004ca9'"
        [innerStrokeColor]="'#002a5e'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>
    <div class="col-sm-4">
        <circle-progress
            [percent]="50"
            [showUnits]="false"
            [radius]="100"
            [title]="'GitHub'"
            [titleColor]="'red'"
            [titleFontSize]="'30px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#004ca9'"
            [innerStrokeColor]="'#002a5e'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4">
        <circle-progress
            [percent]="40"
            [showUnits]="false"
            [radius]="100"
            [title]="'Ingles'"
            [titleColor]="'red'"
            [titleFontSize]="'30px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#004ca9'"
            [innerStrokeColor]="'#002a5e'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="col-sm-4">
        <circle-progress
            [percent]="75"
            [showUnits]="false"
            [radius]="100"
            [title]="'Social'"
            [titleColor]="'red'"
            [titleFontSize]="'30px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#004ca9'"
            [innerStrokeColor]="'#002a5e'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
</div>